body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.grid-container {
  position: relative;
  width: 100vw;
  height: 100vh; 
  transform: rotateX(0deg);
}

.line-horizontal,
.line-vertical {
  position: absolute;
  background-color: rgb(255,0,0);
}

.line-horizontal {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.8) 50%, rgba(255, 255, 255, 0));
  box-shadow: 0 0 10px rgb(255, 0, 0);
  animation: shine 5s infinite alternate;
}

.line-vertical {
  width: 1px;;
  height: 100%;
}

.line-horizontal::before,
.line-vertical::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px; 
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.8) 50%, rgba(255, 255, 255, 0));
  
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
}

.line-horizontal::before {
  left: 0;
  top: -2px;
  animation: shine-horizontal 5s linear infinite;
}

.line-vertical::before {
  top: 0;
  left: -2px;
}

.line-left {
  transform: rotateY(-50deg);
  transform: rotateX(50deg);
  transform: rotateZ(60deg);
}

.line-right {
  transform: rotateY(-50deg);
  transform: rotateX(50deg);
  transform: rotateZ(-60deg);
}



@keyframes shine-horizontal {
  0% {
    transform: translateX(0) translateY(0) scale(1);
    background: rgba(255, 255, 255, 0);
  }
  25% {
    transform: translateX(25vw) translateY(0) scale(1);
  }
  50% {
    transform: translateX(50vw) translateY(0) scale(1);
    background: rgba(255, 0, 0);
  }
  75% {
    transform: translateX(75vw) translateY(0) scale(1);
    background: rgba(255, 0, 0);
  }
  100% {
    transform: translateX(100vw) translateY(0) scale(1);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
